/* ### Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
:root {
  /*  */
  --Weights-600: 600;
  --Soft-red: #fe7867;
  --Yellow: #fad400;
  /* (graphic design text) */
  --Dark-desaturated-cyan: #25564b;
  /* (photography text) */
  --Dark-blue: #19536b;
  /* (footer) */
  --Dark-moderate-cyan: #458c7e;

  /* ### Neutral */

  --Very-dark--desaturated-blue: #23303e;
  --Very-dark-grayish-blue: #5a636c;
  --Dark-grayish-blue: #818498;
  --Grayish-blue: #a7abae;
  --White: #ffffff;

  /* ## Typography */
  --Font-size: 18px;

  --Weights-700: 700;
  --Weights-900: 900;
}

body {
  /* background-color: #19536b; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  font-size: 18px;
  font-family: Barlow, sans-serif;
  color: var(--Very-dark-grayish-blue);
}
h1,
h2,
h3,
h4 {
  font-family: Fraunces, sans-serif;
}
h4 {
  font-size: 1.3rem;
  font-weight: 700;
}
/* Header and Navigation Bar */
header {
  background: url(./images/desktop/image-header.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 110vh;
}
header .bg-img {
  width: 100%;
  object-fit: cover;
}
.nav-header {
  display: flex;
}
.nav-header .nav {
  margin-left: auto;
}
.nav-items {
  display: flex;
  margin: 3.4rem 3.8rem;
}
.nav-items a {
  font-size: 18px;
  font-weight: 600;
  font-family: Barlow, sans-serif;
  color: var(--White);
  margin-right: 2.3rem;
  letter-spacing: 0.5px;
  padding: 0.8rem;
}
.nav-items a:hover {
  color: var(--Yellow);
  font-size: 18.2px;
}
.nav-items .nav-contact {
  margin-right: -1.5rem;
  /* background-color: #23303e; */
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 30px;
}
.nav-items .nav-contact:hover {
  background: var(--Yellow);
  /* opacity: .1; */
  color: var(--Dark-blue);
}
/* Header image */
.header-img {
  margin: 3rem 2.7rem;
  width: 180px;
  height: 35px;
}

/* =====Hero-Section===== */
.hero {
  margin-top: 4.4rem;
  text-align: center;
}
.hero-title {
  color: #fff;
  font-size: 3.8rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  font-family: Fraunces, sans-serif;
  font-weight: 900;
}
.hero img {
  margin-top: 4.19rem;
}
/* ==========Services========== */
.services {
  display: flex;
  overflow: hidden;
  height: 83.5vh;
}
.services-content {
  display: flex;
  flex-direction: column;
  font-family: Fraunces, sans-serif;
  letter-spacing: 0.6px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 4rem 0;
  margin-left: 5rem;
  gap: 15px;
  /* margin-bottom: 4.4rem; */
}

.services-content h2 {
  max-width: 400px;
  font-size: 2.7rem;
  font-weight: 900;
  margin-bottom: 10px;
}
.services-content p {
  width: 71%;
  font-size: 18px;
  line-height: 1.6;
  color: #818498;
  font-family: Barlow, sans-serif;
}
.services-content a {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: #000;
  z-index: 9;
  position: relative;
}

.services-content a:after {
  content: '';
  position: absolute;
  width: 130px;
  height: 8px;
  top: 62.2%;
  right: 0px;
  left: -1%;
  border-radius: 10px;
  height: 10px;
  margin: 0;
  opacity: 0.45;
}
.services-content a:after {
  background-color: var(--Yellow);
}
.transform-img {
  background: url('./images/desktop/image-transform.jpg') no-repeat;
  min-width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.services-content a:after {
  background-color: var(--Yellow);
}

/* Stand Out */
.stand-out {
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 83.5vh;
}
.standout-content {
  margin-left: 0rem;
}
.standout-img {
  background: url('./images/desktop/image-stand-out.jpg');
  min-width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.standout-content a:after {
  opacity: 0.3;
  background-color: var(--Soft-red);
}
/* Design section */
.design-section {
  display: flex;
  overflow: hidden;
  height: 84.5vh;
}
.graphic-design {
  background: url('./images/desktop/image-graphic-design.jpg');
  min-width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.photography {
  background: url('./images/desktop/image-photography.jpg');
  min-width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.design {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.design-content {
  text-align: center;
  margin-bottom: 4rem;
}
.design h3 {
  font-size: 2rem;
  font-weight: 700;
  font-family: Fraunces, sans-serif;
}
.design p {
  width: 54%;
  font-size: 18px;
  line-height: 1.8rem;
  letter-spacing: 0.3px;
  margin: 0 auto;
  color: #25564b;
  font-family: Barlow, sans-serif;
}
.graphic-design .design-content {
  color: #25564b;
}
.photography .design-content {
  color: #19536b;
}
/* ========Testimonials======== */
.testimonial {
  padding: 8rem 10rem;
  height: 70vh;
  text-align: center;
}
.testimonial h3 {
  font-size: 1.4rem;
  letter-spacing: 5px;
  color: var(--Dark-grayish-blue);
  font-family: Fraunces, sans-serif;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.testimonial .feedback {
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; */
}
.feedback-content {
  margin: 1.5rem;
}
.feedback-content .profile-img,
p {
  margin-bottom: 3.8rem;
  line-height: 2rem;
}
.feedback-content .profile-img {
  margin-bottom: 3rem;
  width: 20%;
  border-radius: 50%;
  border: 5px solid var(--Yellow);
}
.feedback-content h4 {
  margin-bottom: 0.4rem;
}
.feedback-content small {
  font-family: Barlow, sans-serif;
  color: var(--Grayish-blue);
}
/* ==========Media Query=========== */
@media screen and (max-width: 900px) {
  header {
    background: url('./images/mobile/image-header.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100%;
    overflow: hidden;
    height: 130vh;
  }
  .nav {
    position: fixed;
    top: 20px;
    right: 18px;
    padding: 1rem;
    width: 200px;
    border-radius: 20px;
    transform: translatex(-100vw);
    z-index: 10;
    background-color: var(--Soft-red);
  }
  .nav .nav-items {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
  }
  .nav ul li a {
    margin: 10px auto;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
    transition: 0.3s;
  }
  .menu-slide-down {
    transition: all 0.4s ease-in-out;
    transform: translateY(0vw);
  }
  .menu-slide-up {
    width: 0;
    height: 0;
    transition: all 0.4s ease-in;
    transform: translateY(-110vw);
  }

  /*  Menu Bars */

  .menu-bars {
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }
  /* ======Hero Section */
  .hero-title {
    margin-top: 9rem;
    font-size: 2.5rem;
  }
  .hero img {
    margin-top: 10rem;
  }
  .services {
    display: flex;
    flex-direction: column-reverse;
    height: 180vh;
    margin: 0 auto;
  }
  .services-content {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }
  .transform-img {
    background-image: url('./images/mobile/image-transform.jpg');
  }
  /* ==========Desing-Section======== */
  .design-section {
    display: flex;
    flex-direction: column;
    height: 180vh;
  }
  .design-content {
    margin-bottom: 1rem;
  }
  .design-content p {
    width: 90%;
  }
  /* ======= Testimonial ========= */
  .testimonial {
    padding: 4rem;
  }
  .testimonial .feedback {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
  }
  .feedback-content {
    /* width:80%; */
  }
}

/* @media screen and (min-width:700px){
  .hero img{
    margin-top: 15rem;
  } 
} */
