/* ### Font */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
:root {
  /*  */
  --Weights-600: 600;
  --Soft-red: #fe7867;
  --Yellow: #fad400;
  /* (graphic design text) */
  --Dark-desaturated-cyan: #25564b;
  /* (photography text) */
  --Dark-blue: #19536b;
  /* (footer) */
  --Dark-moderate-cyan: #458c7e;

  /* ### Neutral */

  --Very-dark--desaturated-blue: #23303e;
  --Very-dark-grayish-blue: #5a636c;
  --Dark-grayish-blue: #818498;
  --Grayish-blue: #a7abae;
  --White: #ffffff;

  /* ## Typography */
  --Font-size: 18px;

  --Weights-700: 700;
  --Weights-900: 900;
}

body {
  /* background-color: #19536b; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Header and Navigation Bar */
header {
  background: url(./images/desktop/image-header.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 110vh;
}
header .bg-img {
  width: 100%;
  object-fit: cover;
}
.nav-header {
  display: flex;
}
.nav-header .nav {
  margin-left: auto;
}
.nav-items {
  display: flex;
  margin: 3.4rem 3.8rem;
}
.nav-items a {
  font-size: 18px;
  font-weight: 600;
  font-family: Barlow,sans-serif;
  color: var(--White);
  margin-right: 2.3rem;
  letter-spacing: 0.5px;
  padding: 0.8rem;

}
.nav-items a:hover {
  color: var(--Yellow);
  font-size: 18.2px;
}
.nav-items .nav-contact {
  margin-right: -1.5rem;
  /* background-color: #23303e; */
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 30px;
}
.nav-items .nav-contact:hover {
  background: var(--Yellow);
  /* opacity: .1; */
  color: var(--Dark-blue);
}
/* Header image */
.header-img {
  margin: 3rem 2.7rem;
  width: 180px;
  height: 35px;
}

/* =====Hero-Section===== */
.hero {
  margin-top: 4.4rem;
  text-align: center;
}
.hero-title {
  color: #fff;
  font-size: 3.8rem;
  letter-spacing: .6rem;
  text-transform: uppercase;
  font-family: Fraunces, sans-serif;
  font-weight:900;
}
.hero img {
  margin-top: 4.19rem;
}
/* ==========Services========== */
.services {
  display: flex;
  overflow: hidden;
  height: 83.5vh;
}
.services div {
  width: 48%;
}
.services-content {
  position: relative;
  margin: 0 1rem;
  display: flex;
  flex-direction:column;
  align-self: center;
  justify-self: center;
  font-family: Fraunces, sans-serif;
  /* padding: 8rem 7.7rem; */
  margin-left: 10.9rem;
  letter-spacing: 0.6px;
}
.services-content h2 {
  max-width: 400px;
  font-size: 2.7rem;
  font-weight: 700;
}
.services-content p {
  width: 71%;
  font-size: 18px;
  line-height: 1.5;
  color: #a7abae;
  font-family: Barlow, sans-serif;
}
.services-content a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: #000;
  z-index: 9;
}
.hr-line {
  border-radius: 12px;
  position: absolute;
  display: inline-block;
  width: 25%;
  bottom: 165px;
  left: 110px;
  height: 10px;
  /* margin: 1rem; */
}
.hr-line:hover {
  background-color: #fad400;
}
.transform-img{
  background: url('./images/desktop/image-transform.jpg') no-repeat;
  min-width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}


/* Stand Out */
.stand-out{
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 83.5vh;
}
.standout-img{
  background: url('./images/desktop/image-stand-out.jpg');
   min-width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
/* ==========Media Query=========== */
@media screen and (max-width: 900px) {
  header {
    background: url('./images/mobile/image-header.jpg') no-repeat center;

    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
  .nav {
    position: fixed;
    top: 20px;
    right: 18px;
    padding: 1rem;
    width: 200px;
    border-radius: 20px;    
    transform: translatex(-100vw);
    z-index: 10;
    background-color: var(--Soft-red);
  }
  .nav .nav-items {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
  }
  .nav ul li a {
    margin: 10px auto;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    text-align: center;
    transition: 0.3s;
  }
  .menu-slide-down {
    transition: all 0.4s ease-in-out;
    transform: translateY(0vw);
  }
  .menu-slide-up {
    width: 0;
    height:0;  
    transition: all 0.4s ease-in;
    transform: translateY(-110vw);
  }

  /*  Menu Bars */

  .menu-bars {
    position: fixed;
    top: 2.5rem;
    right: 2rem;
    z-index: 10;
    display: inline;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }
  /* ======Hero Section */
  .hero img {
    margin-top: 0;
  }
  .services {
    display: flex;
    flex-direction: column-reverse;
    height: 120vh;
    text-align: center;
  }
  .services-content{
    padding: 3rem 0;
  }
  .services div{
    margin: 0 auto;
    width: 90%;
  }

}
